button{
  margin-right: 15px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}
.App-logo {
  height: 20vmin;
  pointer-events: none;
}